@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .burger-button {
    top: 10px !important;
    left: 10px !important;
    width: 36px !important;
    height: 36px !important;
  }
}

@media (min-width: 1024px) {
  .burger-button {
    display: none !important;
    top: 10px !important;
    left: 10px !important;
    width: 36px !important;
    height: 36px !important;
  }

  .sidebar {
    transform: translateX(0) !important;
  }

  .sidebar-overlay {
    display: none !important;
  }

  .close-button {
    display: none !important;
  }
}
